html{
	height: 100%;
}
body{
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	background: lightblue;
	font-family: 'Comfortaa', cursive;
}
.container{
	display: flex;
	flex-direction:column;
}
.row{
	display: flex;
}
.item{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	margin: 3px;
	color: black;
	
	transition-duration: 0.2s;
	user-select: none;
}
.item:active{
	border-radius: 50px;
}
.black-bg:hover, .white-bg:hover{
	background: white;
}
.black-bg{
	background: lightcoral;
}
.white-bg{
	background: lightslategray;
}
.green-bg{
	background: limegreen;
	border-radius: 20px;
	cursor: pointer;
}
.yellow-bg{
	background: lightyellow;
	border-radius: 20px;
	box-shadow: inset 0px 0px 0px 3px limegreen;
}
.black{
	color: black;
}
.white{
	color: wheat;
}
.fa-2x{
	cursor: pointer;
}
.eatenPieces{
	height: 150px;
	background: lightsalmon;
	padding: 20px 10px 20px;
}
.eatenPieces > i{
	margin: 10px;
}
#board{
	display: flex;
	align-items: center;
}
.eatenPiecesContainer{
	display: flex;
	flex-direction: column;
	width: 180px;
	height: 400px;
	padding-left: 20px;
}
.eatenWhite{
	background: lightcoral;
}
.eatenBlack{
	background: lightslategray;
}
.info{
	height: 50px;
	background: lightsalmon;
	margin: 6px 0px 6px;
}
#ui{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height:100%;
	position: absolute;
	top: 0;
	background: lightseagreen;
}
.hidden{
	visibility: hidden;
}
.input{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#inputText{
	height: 30px;
	margin: 30px;
	background: transparent;
	border: white 2px solid;
	border-radius: 5px;
	color: white;
	padding: 2px 10px 2px;
	font-size: 18px;
}
#inputText::placeholder{
	color: lightgray;
}
#inputText:focus{
	outline: none;
}
#play{
	font-size: 24px;
	font-family: 'Comfortaa', cursive;
	margin: 10px;
	border: white 2px solid;
	border-radius: 5px;
	background: transparent;
	cursor: pointer;
	color: white;
	width: 150px;
}
#play:hover{
	background: white;
	color: lightseagreen;
}
h1{
	text-align: center;
	color: white;
	font-size: 55px;
	margin-bottom: 10px;
}
#roomName{
	font-size: 24px;
	margin-left: 5px;
}
p{
	margin: 2px;
}
.info > *{
	margin-left: 5px;
}